.login-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: grey;
  font-family: "Courier";
}

.login-title {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

button .login-title_Login {
  background-color: none;
  border: none;
}
button .login-title_Registration {
  background-color: none;
  border: none;
}

.line {
  border-right: 2px solid #465cab;
  height: 30px;
  margin-top: 50px;
}

.login-forgot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.login-reset {
  color: #465cab;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
