.postsWrapper {
  padding: 20px 100px;
  height: 100vh;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
}
.card-post {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 280px;
  font-family: "Courier";
  border-radius: 10px;
  border: 1px solid #9088b629;
  padding: 10px 10px;
  box-shadow: 0px 0px 20px 0px #5d5485;
  cursor: pointer;
}

.card-img {
  width: 100%;
  min-height: 30%;
  border-radius: 10px;
}

.card-text {
  font-size: 12px;
  color: #5d5485;
  margin: 0;
  padding: 0;
}

.dark .card-text {
  color: #f7f0e2;
}
.card-date {
  color: #5d5485;
  margin: 10px 0 0;
  font-size: 12px;
  padding: 0;
}
.dark .card-date {
  color: #fdd892;
}

.card-title {
  font-size: 16px;
  padding-left: 0px;
  color: #5d5485;
  font-weight: 600;
}

.dark .card-title {
  color: #fdd892;
}
.postsTitle {
  color: #5d5485;
  padding: 10px 0 0 35px;
  font-size: 24px;
  font-weight: 700;
}
.dark .postsTitle {
  color: #f8f2e7;
}

.postsContainer {
  text-decoration: none;
}

.dark.postsContainer {
  background-color: #240915;
}

.linkCards {
  text-decoration: none;
}

.iconsFooter {
  color: #5d5485;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark .iconsFooter,
.dark #arrowPagination {
  color: #fdd892;
}

.btnPostsSave,
.btnPostsLike,
.btnPostsDislike,
.btnPostsAll,
.btnPostsAdd {
  margin-top: 20px;
  margin-right: 35px;
  padding: 8px;
  width: 70px;
  border: none;
  outline: none;
  border-radius: 50px;
  text-align: center;
  background-color: #5d54854f;
  color: white;
  cursor: pointer;
  font-family: "Courier";
}

.active {
  background-color: #5d5485;
}
.dark .btnPostsSave,
.dark .btnPostsLike,
.dark .btnPostsDislike,
.dark .btnPostsAll,
.dark .btnPostsAdd {
  background-color: #f0ede8;
  color: #5d5485;
}

.btnPosts {
  display: flex;
  justify-content: flex-start;
  margin-left: 35px;
}

.inputSearch {
  margin: 10px 35px;
}

.sortPosts {
  margin-left: 35px;
  font-family: Courier;
  margin-top: 20px;
  font-weight: bold;
}

.dark .sortPosts,
.dark .numberPagePosts {
  color: #f0ede8;
}
select {
  font-family: Courier;
  background-color: #5d54854f;
  border-radius: 50px;
}
.dark select {
  background-color: #f0ede8;
}

.paginationWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  gap: 5px;
  flex-direction: column;
}

.paginationContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
.inputPaginationPosts {
  width: 30px;
}

.numberPagePosts {
  font-family: Courier;
  font-weight: bold;
}

#arrowPagination {
  color: #5d5485;
}
