body {
  background-color: rgba(202, 224, 239, 0.735);
}
.posts-wrapper {
  padding: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
}
.card-post {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
  width: 30%;
  color: rgb(121, 119, 119);
  font-family: "Courier";
  border-radius: 10px;
  border: 1px solid rgba(202, 224, 239, 0.735);
  padding: 10px 10px;
}
.card-img {
  width: 200px;
  border-radius: 10px;
  margin: 0 auto;
}

.card-text {
  font-size: 18px;
  color: rgb(121, 119, 119);
}
.card-date {
  color: rgb(70, 70, 229);
}
