.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: grey;
  font-family: "Courier";
}

.btnLoginConfirm {
  margin-top: 30px;
  padding: 8px;
  width: 180px;
  border: 2px solid;
  outline: none;
  border-radius: 50px;
  text-align: center;
  background-color: #465cab;
  color: white;
  cursor: pointer;
  font-family: "Courier";
}

.login-forgot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}
.login-reset {
  color: #465cab;
  text-decoration: none;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.err {
  color: red;
  font-size: 12px;
}

.login-form {
  max-width: 180px;
}
